# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Images
*.png
!static/

# Model (optional - uncomment if file is too large)
# *.h5

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
